<section class="navigation_section">
  <div class="navigation_container" [ngClass]="{ 'show_nav': isNavOpen }">

    <!-- Logo -->
    <div class="logo_holder">
      <h1><a href="#home">Dakalo.Dev</a></h1>
    </div>

    <!-- Navigation Links -->
    <div class="responsive_container">
      <ul class="nav_links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">My Projects</a></li>
        <li><a href="#contact">Contact me</a></li>
        <li><a class="hire_me" href="assets/images/Tshivhase%20Dakalo%20CV.pdf" download="Tshivhase_dakalo_CV">Hire me!</a></li>
      </ul>

      <!-- Icons -->
      <div class="icon_holder">
        <a href="https://github.com/123dakalo" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/dakalo-tshivhase-6a7318279/"  target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="mailto:tshivhasedakalo12@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://www.facebook.com/dakalo.chibase.5" target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
    </div>

    <!-- Nav Toggle -->
    <div class="navigation_toggle" (click)="toggleNav()" [ngClass]="{ 'active': isNavOpen }">
      <div></div>
      <div></div>
      <div></div>
    </div>

  </div>
</section>

<!-- home section -->
<section>
<app-home-page></app-home-page>
</section>
<section>
  <app-about-page></app-about-page>
</section>
<section>
  <app-project-page></app-project-page>
</section>
<section>
  <app-contact-page></app-contact-page>
</section>

<!-- footer section -->
<footer class="footer_section">
  <div class="footer_container">

    <!-- Logo / Name -->
    <div class="footer_logo">
      <h2><a href="#home">Dakalo.Dev</a></h2>
      <p>Building clean and modern web experiences.</p>
    </div>

    <!-- Navigation Links -->
    <div class="footer_links">
      <h5>Quick Links</h5>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#project">My Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <!-- Social Icons -->
    <div class="footer_icons">
      <h5>Connect</h5>
      <div class="icon_row">

        <a href="https://github.com/123dakalo" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/dakalo-tshivhase-6a7318279/"  target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="mailto:tshivhasedakalo12@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://www.facebook.com/dakalo.chibase.5" target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
    </div>

  </div>

  <div class="footer_bottom">
    <p>&copy; 2025 Dakalo Tshivhase. All rights reserved.</p>
  </div>
</footer>

